@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Playfair+Display&family=Playfair:wght@300&family=Roboto+Slab:wght@300&display=swap');

:root {
    /* change the values below to your colors from your palette */
    --primary-color: #265D62   ;
    --secondary-color: #C6C6C6 ;
    --accent1-color: #93E5EE;
    --accent2-color: white;
  
    /* change the values below to your chosen font(s) */
    --heading-font: 'Playfair Display', serif;
    --paragraph-font: 'Crimson Text', serif;
  
    /* font-family: 'Crimson Text', serif;
      font-family: 'Playfair', serif;
      font-family: 'Playfair Display', serif;
      font-family: 'Roboto Slab', serif;  
    */
  
    /* these colors below should be chosen from among your palette colors above */
    --headline-color-on-white: #265D62;  /* headlines on a white background */ 
    --headline-color-on-color: white; /* headlines on a colored background */ 
    --paragraph-color-on-white: #265D62; /* paragraph text on a white background */ 
    --paragraph-color-on-color: white; /* paragraph text on a colored background */ 
    --paragraph-background-color: #265D62  ;
    --nav-link-color: #265D62;
    --nav-background-color: #C6C6C6;
    --nav-hover-link-color: white;
    --nav-hover-background-color: #265D62;
  }

body {
    margin: 0 auto;
    font-family: var(--paragraph-font);
    font-size: 1.2em;
    background-color: var(--secondary-color);
}


header {
    height: 45px;
    margin-bottom: -45px;
    background-color: rgba(100, 100, 100, 0.6);
    fill-opacity: 20%;
    width: 100%;
    position: fixed;
    z-index: 3;
}
nav {
    height: 45px;
    display: flex;
    justify-content: space-around;
    text-align: center;
}
nav a {
    color: var(--paragraph-color-on-color);
    text-decoration: none;
}
nav :hover {
    background-color: var(--accent1-color);
    fill-opacity: 20%;
}
section {
    margin-bottom: -6px;
}
h3 {
    text-align: center;
    font-family: var(--heading-font);
    text-transform: uppercase;
    background-color: var(--accent2-color);
}
p {
    margin: 10px;
}

#hero-logo {
    width: 50%;
    position: absolute;
    z-index: 1;
    display: block;
    margin-left: 2.5%;
    margin-right: 47.5%;
    margin-top: 10%;
}
#hero {
    width: 100%;
    z-index: 0;
}

#portraits-section, #couples-section, #stock-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
#couples-subgrid, .stock-subgrid {
    display: grid;
    grid-template-columns: 1fr;
}

.portraits, .couples, .couples-subgrid-content, .stock {
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: fade;
    opacity: 1%;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

.portrait-info {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
}

#portrait-p {
    display: inline-block;
    margin-left: 12px;

}

button {
    background-color: var(--primary-color);
    color: var(--accent2-color);
    border: none;
    width: 150px;
    height: 50px;
    font-family: var(--heading-font);
    font-size: 1.1em;
}
.button-center {

}

#explanation {
    text-align: center;
    font-family: var(--heading-font);
    background-color: var(--accent2-color);
}
#explanation-p {
    text-align: center;
    font-weight: lighter;
}

footer {
    background-color: var(--primary-color);
    display: grid;
    grid-template-columns: 2fr 4fr 1fr 1fr;
}
.contact {
     font-family: var(--paragraph-font);
     font-size: .8em;
     color: var(--accent2-color);
     font-weight: lighter;
     margin: 0;
     margin-bottom: 10px;
}
#footer-nav {
    justify-content: space-around;
}
#footer-nav a {
    color: var(--paragraph-color-on-color);
    text-decoration: none;
}
.footer-img {
    width: 50%;
    margin: 0 auto;
}




main {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}
#abouth1 {
    margin-top: 100px;
    grid-column: 1/4;
    height: 100px;
    text-align: center;
}
.image1 {
    grid-column: 2/4;

    background-image: url("images/portrait-me3.JPG");
  
    /* Full height */
    min-height: 500px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.image2 {
    grid-column: 1/3;

    background-image: url("images/stock-light2.JPG");
  
    /* Full height */
    min-height: 500px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: left;
    background-repeat: no-repeat;
    background-size: 75%;
}
.image3 {
    grid-column: 2/4;

    background-image: url("images/Sam\ Creviston.jpg");
  
    /* Full height */
    min-height: 500px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: right;
    background-repeat: no-repeat;
    background-size: 80%;
}
.image4 {
    grid-column: 1/3;

    background-image: url("images/group-district.jpg");
  
    /* Full height */
    min-height: 500px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#text1 {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding-top: 15px;
}
#text2 {
    background-color: var(--accent1-color);
    padding-top: 15px;
}
#text3 {
    padding-top: 15px;
}
#text4 {
    background-color: var(--accent2-color);
    color:  var(--paragraph-color-on-white);
    padding-top: 10px;
}
.space {
    height: 20px;
}



@keyframes fade {
    from {opacity: 0%;}
    to {opacity: 100%;}
}



@media screen and (min-width: 1050px) {
    h3 {
        font-size: 1.5em;
    }
    p {
        font-size: 1.5em;
    }
    .image3 {
        background-size: 58%;
    }

}