@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Playfair+Display&family=Playfair:wght@300&family=Roboto+Slab:wght@300&display=swap');

:root {
    /* change the values below to your colors from your palette */
    --primary-color: #265D62   ;
    --secondary-color: #C6C6C6 ;
    --accent1-color: #93E5EE;
    --accent2-color: white;
  
    /* change the values below to your chosen font(s) */
    --heading-font: 'Playfair Display', serif;
    --paragraph-font: 'Crimson Text', serif;
  
    /* font-family: 'Crimson Text', serif;
      font-family: 'Playfair', serif;
      font-family: 'Playfair Display', serif;
      font-family: 'Roboto Slab', serif;  
    */
  
    /* these colors below should be chosen from among your palette colors above */
    --headline-color-on-white: #265D62;  /* headlines on a white background */ 
    --headline-color-on-color: white; /* headlines on a colored background */ 
    --paragraph-color-on-white: #265D62; /* paragraph text on a white background */ 
    --paragraph-color-on-color: white; /* paragraph text on a colored background */ 
    --paragraph-background-color: #265D62  ;
    --nav-link-color: #265D62;
    --nav-background-color: #C6C6C6;
    --nav-hover-link-color: white;
    --nav-hover-background-color: #265D62;
  }

body {
    margin: 0 auto;
    font-family: var(--paragraph-font);
}


header {
    height: 45px;
    margin-bottom: -45px;
    background-color: rgba(100, 100, 100, 0.6);
    fill-opacity: 20%;
    position: relative;
    z-index: 2;
}
nav {
    height: 45px;
    display: flex;
    justify-content: end;
    text-align: center;
}
nav a {
    color: var(--paragraph-color-on-color);
}

section {
    margin-bottom: -6px;
}
#hero-logo {
    width: 50%;
    position: absolute;
    z-index: 1;
    display: block;
    margin-left: 2.5%;
    margin-right: 47.5%;
    margin-top: 10%;
}
#hero {
    width: 100%;
    z-index: 0;
}

.image-tiles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.image-tiles img {
    width: 100%;
}
.image-tiles h3 {
    text-align: center;
    font-family: var(--heading-font);
    font-size: 1.3em;
    margin: 4px;
}
.image-tiles p {
    text-align: center;
    margin-top: 10px;
    font-size: 1.2em;
}
#explanation {
    /*letter-spacing: .1em;*/
    text-align: center;
    font-family: var(--heading-font);
}
#explanation-p {
    text-align: center;
}