body {
    margin: 0 auto;
    width: 100%;
    background-color: #737373;
}
.grid1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 35px;
}
#circles {
    width: 100%;
    grid-row: 1/6;
    grid-column: 1/4;
}
#desk {
    grid-column: 1/2;
    width: 70%;
    border-radius: 50%;
    border: 12px solid rgb(65, 61, 61)
}
#graphic {
    grid-column: 2/3;
    width: 70%;
    border-radius: 50%;
    border: 12px solid rgb(65, 61, 61)
}
#author {
    grid-column: 3/4;
    width: 70%;
    border-radius: 50%;
    border: 12px solid rgb(65, 61, 61)
}