body, html {
    height: 100%;
  }
  h1 {
    text-align: center;
    background-color: rgba(red, green, blue, 0%);
  }

  .parallax {
    /* The image used */
    background-image: url("Sam\ Creviston.jpg");
    margin-top: -80px;
  
    /* Full height */
    min-height: 70%;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .parallax2 {
     /* The image used */
     background-image: url("other-sunset.jpg");
  
     /* Full height */
     min-height: 80%;
   
     /* Create the parallax scrolling effect */
     background-attachment: fixed;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
  }
  .parallax3 {
    /* The image used */
    background-image: url("Logan\ Creviston.JPG");
  
    /* Full height */
    min-height: 90%;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  footer {
    height: 400px;
  }